#header-panel {
	background-color: #4e2700;
	border-color: #4e2700;
	height: 15%;
	
}

.text-bg {
  background-color: White !important;
}

.itemAlign {
  margin-left: 10rem;
}

#header-h3 {
	color: WHITE;
	font-family: Segoe UI;
}

.infoLabel {
  border-top: 2px straight #FF0000;
  position: relative;
  text-align: center;
}

.infoLabel {
  border-top: 2px solid #ddd;
  position: relative;

}
h6 {
  position: absolute;
  top: -18px;
  text-align:center;
  width:100%;
  padding:0;
  margin:0px;
  font-size: 15 !important;
}
h6 span {
  background:#fff;
  display: inline-block;
  padding: 5px;
  font-family: calibri;
  color: gray;
  font-size: 17;
}

.sidePanel {
  border-width: 0 !important;
  background-color: #404040 !important;
}

h1 {
  font-family: Calibri !important;
}

h7 {
	color: WHITE;
	font-family: Segoe UI;
}

h8 {
	font-family: Segoe UI;
}

#sidebarBg {
	background-color: #404040;
}

.remodelNav {
  background-color: White !important;
  border-color: White !important;
  padding: 0.5625rem 0rem 0.5625rem !important;
  border-width: 0!important;
  cursor: default !important;
}

.liRemodel, .liRemodel:before {
  text-transform: none !important;
  margin: 0 1px !important;
  cursor: default !important;
}

.liBorder {
  border-left: 7 solid #d1d1d1;
}

.auditItem {
  line-height: 1 !important;
  margin-left: 1.5rem !important;
  cursor: default;
}

.hAlign {
  text-align: center!important;
}

#hAlign {
	text-align: center!important;
}

.fontAlign {
  text-align: center!important;
}

#menuPanel {
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	margin-bottom: 0.0rem !important; 
	
	background: #f2f2f2;
}

#Font {
	font-family: Segoe UI;
}

#TabStyle {
	font-family: Segoe UI;
	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
}

#btnColor {
	font-family: Segoe UI;
}

#rowMargin {
	margin-left: 4rem !important;
	margin-top: 50 !important;
}

#panelMargin {
	margin-left: 4rem !important;
	width: 89.6% !important;
	background-color: #4e2700;
}

#textMargin {
	margin-left: 12rem !important;
}

#textboxStyle {
	width: 30.66667%;
	margin-left: 3rem !important;
}

/*#textStyle {
	margin-left: 12rem !important;
}*/


table {
  text-align: center !important;
}

#devFont {
	margin-left: 12rem !important;
	font-size: 30;
	font-family: Segoe UI;
	margin-bottom: 10;
}

#modalLbl {
	font-size: 26;
	font-family: Segoe UI;
}

#tbox-width {
	width: 80%;
	font-family: Segoe UI;
}

#removeLnk {
	font-family: Segoe UI;
	font-size: 10;
}

#txtMargin {
	margin-left: 16rem !important;
}

.deviceLbl {
	font-size: 26;
	font-family: Segoe UI;
}

  button, .button {
  	margin: 0 0 0.25rem !important;
  	font-family: Segoe UI;
    font-size: 11.5!important;
  }

  #tableTwo {
  	margin-left: 0rem !important;
    text-align: left!important;
  }

  .fontSize {
  	font-size: 10 !important;
  	font-family: Segoe UI!important;
  }

  #fontSize-Device {
    font-size: 10 !important;
    font-family: Segoe UI!important;
    color: White!important;
  }

  .fontColor-black {
    color: black;
  }

  .fontStyle {
  	font-size: 30!important;
	font-family: Segoe UI!important;
  }

  .fontStyleLabel {
  	font-size: 20!important;
  	font-family: Segoe UI!important;
  }

  .inputField {
  	font-size: 19!important;
  	font-family: Segoe UI!important;
  	text-align: center;
  }

  .font {
  	font-family: Segoe UI !important;
  }

  .weight {
  	font-style: normal!important;
  }

  .fontColor {
  	color: White!important;
  }

  .fontSize-1 {
  	font-size: 20 !important;
  }

  .fontSize-2 {
  	font-size: 17 !important;
  }

  .fontSize-5 {
    font-size: 15 !important;
  }

  .fontSize-6 {
    font-size: 12 !important;
  }

  .fontSize-7 {
    font-size: 10 !important;
  }

  .fontSize-8 {
    font-size: 14 !important;
  }

  .fontSize-3 {
  	font-size: 22 !important;
  }

  .fontSize-4 {
    font-size: 24 !important;
  }

  .font-1 {
  	 font-family: Segoe UI !important;
  }

  #panelPadding-10 {
    padding: 0.25rem !important;
  }

  .textAlign {
    text-align: center !important;
  }

  .fontWeight {
    font-weight: bold!important;
  }

  #trackAll-Style-panel-header {
    text-align: center !important;
    padding: 0.25rem !important;
    margin-bottom: 2rem !important;
    margin: 0 !important;
  }

  #device-Table-Width {
    width: 110% !important;
  }

  #headerStyle {
    width: 24% !important;
  }

  #headerStatus {
    width: 24% !important
  }

  .item-title {
    font-size: 27!important;
  }

  .history-Header-bg{
    background-color: #4c4c4c !important;
    color: White !important;
    border-color: #4c4c4c !important;
  }

  .history-body-bg {
    background-color: White !important;
  }

  .login-button {
    font-family: "Segoe UI" !important;
    font-size: 18 !important;
  }

  .fontStyle-2 {
    font-family: "Source Code Pro" !important;
    font-size: 30 !important;
  }

  .fontWeight {
    font-weight: bold;
  }

  .fontSegoe{
    font-family: "Segoe UI Semibold" !important;
  }

  .itemLink {
    font-size: 15 !important;
  }

  .table-item-align {
    text-align: center !important;
  }